body {
    font-family: Arial, serif;
    background-color: #444444;
    color: #CCCCCC;
    user-select: none;
}

a {
    color: #2277FF;
}

a:visited {
    color: #FF7722;
}

#canvas {
    position: absolute;
    outline: #000000 1px dotted;
}

#ui {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#textWidthTester {
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap;
}   /* Credit to CMPalmer @ https://stackoverflow.com/questions/118241/calculate-text-width-with-javascript */